<%= render partial: 'header' %>

<h4><%= @message %></h4>

<% @recipes.each do |recipe| %>
  <ul>
    <%= link_to(show_recipe_path(recipe.label, params: {id: recipe.id})) do %>
      <li><%=  image_tag(recipe.image, {class: 'recipe-image', title: recipe.label}) %></li>
      <li> <%= recipe.label %></li>
    <% end %>
  </ul>
<% end %>
